/* HeroDetailComponent's private CSS styles */
.hero-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-detail h2{
    font-size: 2.5rem;
    color: #3f51b5;
}

.hero-detail span,
.hero-detail label,
.hero-detail input{
    font-size: 1.5rem;
}


.hero-detail div:nth-child(2),
.hero-detail div:nth-child(3){
    margin: 1rem 0;
}

.hero-detail div:last-child button{
    margin: 1rem .5rem;
}