
.container-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroes-menu h2 {
    text-align: center;
    color: #3f51b5;
    font-size: 2.5rem;
}

.heroes-menu button{
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid transparent;
}

.heroes-menu button:hover{
    background-color: white;
    color: #3f51b5;
    border-color:#3f51b5;
}

